<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Forum - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
<main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
        <div class="tt-topic-list">
            <div class="tt-list-header">
                <div class="tt-col-topic">Topic</div>
                <div class="tt-col-category">Category</div>
                <div class="tt-col-value hide-mobile">Likes</div>
                <div class="tt-col-value hide-mobile">Replies</div>
                <div class="tt-col-value hide-mobile">Views</div>
                <div class="tt-col-value">Activity</div>
            </div>
            <div class="tt-topic-alert tt-alert-default" role="alert">
                <a href="#" target="_blank">4 new posts</a> are added recently, click here to load them.
            </div>
            <div class="tt-item tt-itemselect">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-k"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-pinned"></use>
                        </svg>
                        Halloween Costume Contest 2018
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color01 tt-badge">politics</span></a></li>
                                <li><a href="#"><span class="tt-badge">contests</span></a></li>
                                <li><a href="#"><span class="tt-badge">authors</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">1h</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color01 tt-badge">politics</span></div>
                <div class="tt-col-value hide-mobile">985</div>
                <div class="tt-col-value tt-color-select hide-mobile">502</div>
                <div class="tt-col-value hide-mobile">15.1k</div>
                <div class="tt-col-value hide-mobile">1h</div>
            </div>
            <div class="tt-item tt-itemselect">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-l"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-locked"></use>
                        </svg>
                        We’re removing Envato Credits from Market
                    </a></h6>
                    <div class="row align-items-center no-gutters  hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color02 tt-badge">video</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">2h</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color02 tt-badge">video</span></div>
                <div class="tt-col-value hide-mobile">584</div>
                <div class="tt-col-value tt-color-select  hide-mobile">35</div>
                <div class="tt-col-value hide-mobile">1.3k</div>
                <div class="tt-col-value hide-mobile">2h</div>
            </div>
            <div class="tt-item tt-itemselect">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-d"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        Web Hosting Packages for ThemeForest WordPress
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color03 tt-badge">exchange</span></a></li>
                                <li><a href="#"><span class="tt-badge">themeforest</span></a></li>
                                <li><a href="#"><span class="tt-badge">elements</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">2h</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color03 tt-badge">exchange</span></div>
                <div class="tt-col-value  hide-mobile">401</div>
                <div class="tt-col-value tt-color-select  hide-mobile">975</div>
                <div class="tt-col-value  hide-mobile">12.6k</div>
                <div class="tt-col-value hide-mobile">2h</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-c"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        Review Queue Changes for VideoHive & PhotoDune
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color04 tt-badge">pets</span></a></li>
                                <li><a href="#"><span class="tt-badge">videohive</span></a></li>
                                <li><a href="#"><span class="tt-badge">photodune</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">1d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color04 tt-badge">pets</span></div>
                <div class="tt-col-value  hide-mobile">308</div>
                <div class="tt-col-value tt-color-select  hide-mobile">660</div>
                <div class="tt-col-value  hide-mobile">8.3k</div>
                <div class="tt-col-value hide-mobile">1d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-n"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        Does Envato act against the authors of Envato markets?
                    </a></h6>
                    <div class="row align-items-center no-gutters  hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color05 tt-badge">music</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">1d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color05 tt-badge">music</span></div>
                <div class="tt-col-value hide-mobile">358</div>
                <div class="tt-col-value tt-color-select hide-mobile">68</div>
                <div class="tt-col-value hide-mobile">8.3k</div>
                <div class="tt-col-value hide-mobile">1d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-h"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-locked"></use>
                        </svg>
                        We Want to Hear From You! What Would You Like?
                    </a></h6>
                    <div class="row align-items-center no-gutters  hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color06 tt-badge">movies</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">2d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color06 tt-badge">movies</span></div>
                <div class="tt-col-value hide-mobile">671</div>
                <div class="tt-col-value tt-color-select  hide-mobile">29</div>
                <div class="tt-col-value hide-mobile">1.3k</div>
                <div class="tt-col-value hide-mobile">2d</div>
            </div>
            <div class="tt-item tt-item-popup">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-f"></use>
                    </svg>
                </div>
                <div class="tt-col-message">
                    Looks like you are new here. Register for free, learn and contribute.
                </div>
                <div class="tt-col-btn">
                    <button type="button" class="btn btn-primary">Log in</button>
                    <button type="button" class="btn btn-secondary">Sign up</button>
                    <button type="button" class="btn-icon">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-cancel"></use>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-t"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        Cannot customize my intro
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color07 tt-badge">video games</span></a></li>
                                <li><a href="#"><span class="tt-badge">videohive</span></a></li>
                                <li><a href="#"><span class="tt-badge">photodune</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">2d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color07 tt-badge">video games</span></div>
                <div class="tt-col-value hide-mobile">364</div>
                <div class="tt-col-value tt-color-select  hide-mobile">36</div>
                <div class="tt-col-value  hide-mobile">982</div>
                <div class="tt-col-value hide-mobile">2d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-k"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-verified"></use>
                        </svg>
                        Microsoft Word and Power Point
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge ">
                                <li class="show-mobile"><a href="#"><span class="tt-color08 tt-badge">youtube</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">3d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color08 tt-badge">youtube</span></div>
                <div class="tt-col-value  hide-mobile">698</div>
                <div class="tt-col-value tt-color-select  hide-mobile">78</div>
                <div class="tt-col-value  hide-mobile">2.1k</div>
                <div class="tt-col-value hide-mobile">3d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-v"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        First website template got rejected.
                    </a></h6>
                    <div class="row align-items-center no-gutters  hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color09 tt-badge">social</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">3d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color09 tt-badge">social</span></div>
                <div class="tt-col-value  hide-mobile">12</div>
                <div class="tt-col-value tt-color-select  hide-mobile">3</div>
                <div class="tt-col-value  hide-mobile">268</div>
                <div class="tt-col-value hide-mobile">3d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-k"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-pinned"></use>
                        </svg>
                        Proform or looking for contacting billing department
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color10 tt-badge">science</span></a></li>
                                <li><a href="#"><span class="tt-badge">contests</span></a></li>
                                <li><a href="#"><span class="tt-badge">authors</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">3d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color10 tt-badge">science</span></div>
                <div class="tt-col-value hide-mobile">274</div>
                <div class="tt-col-value tt-color-select hide-mobile">114</div>
                <div class="tt-col-value  hide-mobile">2.3k</div>
                <div class="tt-col-value hide-mobile">3d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-y"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-locked"></use>
                        </svg>
                        Refund for wrongly purchase HTML template
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color11 tt-badge">entertainment</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">3d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color11 tt-badge">entertainment</span></div>
                <div class="tt-col-value hide-mobile">657</div>
                <div class="tt-col-value tt-color-select hide-mobile">177</div>
                <div class="tt-col-value hide-mobile">2.6k</div>
                <div class="tt-col-value hide-mobile">3d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-s"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        Why all my affiliate balance is pending?
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color03 tt-badge">exchange</span></a></li>
                                <li><a href="#"><span class="tt-badge">themeforest</span></a></li>
                                <li><a href="#"><span class="tt-badge">elements</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">4d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color03 tt-badge">exchange</span></div>
                <div class="tt-col-value hide-mobile">37</div>
                <div class="tt-col-value tt-color-select hide-mobile">31</div>
                <div class="tt-col-value hide-mobile">257</div>
                <div class="tt-col-value hide-mobile">4d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-l"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        Google snippets wordpress plugin
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color04 tt-badge">pets</span></a></li>
                                <li><a href="#"><span class="tt-badge">videohive</span></a></li>
                                <li><a href="#"><span class="tt-badge">photodune</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">4d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color04 tt-badge">pets</span></div>
                <div class="tt-col-value hide-mobile">987</div>
                <div class="tt-col-value tt-color-select hide-mobile">271</div>
                <div class="tt-col-value hide-mobile">3.8k</div>
                <div class="tt-col-value hide-mobile">4d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-n"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        How to use Team Listing?
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color09 tt-badge">social</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">5d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color09 tt-badge">social</span></div>
                <div class="tt-col-value hide-mobile">324</div>
                <div class="tt-col-value tt-color-select hide-mobile">163</div>
                <div class="tt-col-value hide-mobile">2.3k</div>
                <div class="tt-col-value hide-mobile">5d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-r"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        <svg class="tt-icon">
                            <use xlink:href="#icon-locked"></use>
                        </svg>
                        Can’t change image on main page of Coaching Theme
                    </a></h6>
                    <div class="row align-items-center no-gutters hide-desktope">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color02 tt-badge">video</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">5d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color02 tt-badge">video</span></div>
                <div class="tt-col-value hide-mobile">879</div>
                <div class="tt-col-value tt-color-select hide-mobile">237</div>
                <div class="tt-col-value hide-mobile">4.5k</div>
                <div class="tt-col-value hide-mobile">5d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-b"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        Documentation on Glitch package usage?
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color12 tt-badge">arts</span></a></li>
                                <li><a href="#"><span class="tt-badge">themeforest</span></a></li>
                                <li><a href="#"><span class="tt-badge">elements</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">5d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color12 tt-badge">arts</span></div>
                <div class="tt-col-value hide-mobile">726</div>
                <div class="tt-col-value tt-color-select hide-mobile">246</div>
                <div class="tt-col-value hide-mobile">7.6k</div>
                <div class="tt-col-value hide-mobile">5d</div>
            </div>
            <div class="tt-item">
                <div class="tt-col-avatar">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-ava-a"></use>
                    </svg>
                </div>
                <div class="tt-col-description">
                    <h6 class="tt-title"><a href="page-single-topic.html">
                        Woohoo! You’ve made it. Welcome to the Elite Club
                    </a></h6>
                    <div class="row align-items-center no-gutters">
                        <div class="col-11">
                            <ul class="tt-list-badge">
                                <li class="show-mobile"><a href="#"><span class="tt-color04 tt-badge">pets</span></a></li>
                                <li><a href="#"><span class="tt-badge">videohive</span></a></li>
                                <li><a href="#"><span class="tt-badge">photodune</span></a></li>
                            </ul>
                        </div>
                        <div class="col-1 ml-auto show-mobile">
                            <div class="tt-value">5d</div>
                        </div>
                    </div>
                </div>
                <div class="tt-col-category"><span class="tt-color04 tt-badge">pets</span></div>
                <div class="tt-col-value hide-mobile">674</div>
                <div class="tt-col-value tt-color-select hide-mobile">128</div>
                <div class="tt-col-value hide-mobile">1.3k</div>
                <div class="tt-col-value hide-mobile">5d</div>
            </div>
            <div class="tt-row-btn">
                <button type="button" class="btn-icon js-topiclist-showmore">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-load_lore_icon"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</main>

</body>
</html>
<!--<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="theme-color" content="#ffffff">
    <title>MDClub - MDClub 是一个 Material Design 样式的社区。</title>
    <link rel="stylesheet" href="https://cdn.w3cbus.com/community.mdclub.org/static/theme/material/index.eea5d0d6.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body class="mdui-drawer-body-left">
<div class="mdui-appbar-with-toolbar mg-app">

    <div class="mc-appbar mdui-appbar mdui-appbar-fixed">
        <div class="toolbar mdui-toolbar">
            <button class="drawer mdui-btn mdui-btn-icon mdui-ripple">
                <i class="mdui-icon material-icons">menu</i>
            </button>
            <a class="headline" href="/">MDClub</a>
            <div class="title">首页</div>
            <form method="get" class="search-bar">
                <button type="button" class="back mdui-btn mdui-btn-icon">
                    <i class="mdui-icon material-icons mdui-text-color-theme-icon">arrow_back</i>
                </button>
                <button type="submit" class="submit mdui-btn mdui=btn-icon">
                    <i class="mdui-icon material-icons mdui-text-color-theme-icon">search</i>
                </button>
                <input type="text" placeholder="搜索文章与问答">
                <button type="button" class="cancel mdui-btn mdui-btn-icon">
                    <i class="mdui-icon material-icons mdui-text-color-theme-icon">close</i>
                </button>
            </form>
            <div class="mdui-toolbar-spacer"></div>
            <div class="login mdui-btn mdui-btn-dense">登录</div>
            <div class="register mdui-btn mdui-btn-dense">注册</div>
        </div>
    </div>
    <div class="mc-drawer mdui-drawer">
        <div class="mdui-list">
            <a class="mdui-list-item mdui-ripple mdui-list-item-active" href="/">
                <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                <div class="mdui-list-item-content">首页</div>
            </a>
            <a class="mdui-list-item mdui-ripple" href="/topics">
                <i class="mdui-list-item-icon mdui-icon material-icons">class</i>
                <div class="mdui-list-item-content">话题</div>
            </a>
            <a class="mdui-list-item mdui-ripple" href="/questions">
                <i class="mdui-list-item-icon mdui-icon material-icons">forum</i>
                <div class="mdui-list-item-content">问答</div>
            </a>
            <a class="mdui-list-item mdui-ripple" href="/articles">
                <i class="mdui-list-item-icon mdui-icon material-icons">description</i>
                <div class="mdui-list-item-content">文章</div>
            </a>
            <div class="mdui-divider"></div>
            <a class="mdui-list-item mdui-ripple" href="/users">
                <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
                <div class="mdui-list-item-content">人脉</div>
            </a>
        </div>
        <div class="copyright">
            <p>Powered by <a href="https://mdui.org" target="_blank">MDUI</a> &amp; <a href="https://mdclub.org" target="_blank">MDClub</a></p>
        </div>
    </div>


    <div id="page-index" class="mdui-container">
        <a class="header mdui-ripple" href="/topics#recommended">
            <div class="mdui-text-color-theme-secondary">推荐话题</div>
            <i class="mdui-icon material-icons mdui-text-color-theme">arrow_forward</i>
        </a>
        <div class="topics-wrapper">
            <div class="topics">
                <div class="mc-topic-item item-inner">
                    <div class="item mdui-card" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/topic-cover/c9/f0/db92458f2de44f70a31dc283bb2de918.png?x-oss-process=image/resize,m_fill,w_360,h_202,limit_0/format,webp);">
                        <a class="mdui-ripple info" href="/topics/8">
                            <div class="name mdui-text-color-theme-text">使用交流</div>
                        </a>
                        <div class="actions">
                            <button class="mc-icon-button mdui-btn mdui-btn-icon mdui-btn-outlined mc-follow">
                                <i class="mdui-icon material-icons mdui-text-color-theme-icon">star_border</i>
                            </button>
                            <button class="followers mdui-btn mdui-ripple mdui-text-color-theme-secondary">75 人关注</button>
                        </div>
                    </div>
                </div>
                <div class="mc-topic-item item-inner">
                    <div class="item mdui-card" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/topic-cover/c4/ca/2aaf3d6db552402ab51901323b01ed80.jpg?x-oss-process=image/resize,m_fill,w_360,h_202,limit_0/format,webp);">
                        <a class="mdui-ripple info" href="/topics/1">
                            <div class="name mdui-text-color-theme-text">Bug 反馈</div>
                        </a>
                        <div class="actions">
                            <button class="mc-icon-button mdui-btn mdui-btn-icon mdui-btn-outlined mc-follow">
                                <i class="mdui-icon material-icons mdui-text-color-theme-icon">star_border</i>
                            </button>
                            <button class="followers mdui-btn mdui-ripple mdui-text-color-theme-secondary">44 人关注</button>
                        </div>
                    </div>
                </div>
                <div class="mc-topic-item item-inner">
                    <div class="item mdui-card" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/topic-cover/ec/cb/0f65328a002b40efa0ce8722201042ce.jpg?x-oss-process=image/resize,m_fill,w_360,h_202,limit_0/format,webp);">
                        <a class="mdui-ripple info" href="/topics/3">
                            <div class="name mdui-text-color-theme-text">功能建议</div>
                        </a>
                        <div class="actions">
                            <button class="mc-icon-button mdui-btn mdui-btn-icon mdui-btn-outlined mc-follow">
                                <i class="mdui-icon material-icons mdui-text-color-theme-icon">star_border</i>
                            </button>
                            <button class="followers mdui-btn mdui-ripple mdui-text-color-theme-secondary">32 人关注</button>
                        </div>
                    </div>
                </div>
                <div class="mc-topic-item item-inner">
                    <div class="item mdui-card" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/topic-cover/8f/14/7ee61ffa409a420c91bd4f452350ba65.png?x-oss-process=image/resize,m_fill,w_360,h_202,limit_0/format,webp);">
                        <a class="mdui-ripple info" href="/topics/7">
                            <div class="name mdui-text-color-theme-text">闲聊</div>
                        </a>
                        <div class="actions">
                            <button class="mc-icon-button mdui-btn mdui-btn-icon mdui-btn-outlined mc-follow">
                                <i class="mdui-icon material-icons mdui-text-color-theme-icon">star_border</i>
                            </button>
                            <button class="followers mdui-btn mdui-ripple mdui-text-color-theme-secondary">15 人关注</button>
                        </div>
                    </div>
                </div>
                <div class="mc-topic-item item-inner">
                    <div class="item mdui-card" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/topic-cover/16/79/6b8cd05dcb4e4214beea71322c598efa.png?x-oss-process=image/resize,m_fill,w_360,h_202,limit_0/format,webp);">
                        <a class="mdui-ripple info" href="/topics/6">
                            <div class="name mdui-text-color-theme-text">作品分享</div>
                        </a>
                        <div class="actions">
                            <button class="mc-icon-button mdui-btn mdui-btn-icon mdui-btn-outlined mc-follow">
                                <i class="mdui-icon material-icons mdui-text-color-theme-icon">star_border</i>
                            </button>
                            <button class="followers mdui-btn mdui-ripple mdui-text-color-theme-secondary">11 人关注</button>
                        </div>
                    </div>
                </div>
                <div class="mc-topic-item item-inner">
                    <div class="item mdui-card" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/topic-cover/c8/1e/252c7e76ea6c4692b230d32c084b61c6.png?x-oss-process=image/resize,m_fill,w_360,h_202,limit_0/format,webp);">
                        <a class="mdui-ripple info" href="/topics/2">
                            <div class="name mdui-text-color-theme-text">已修复 Bug</div>
                        </a>
                        <div class="actions">
                            <button class="mc-icon-button mdui-btn mdui-btn-icon mdui-btn-outlined mc-follow">
                                <i class="mdui-icon material-icons mdui-text-color-theme-icon">star_border</i>
                            </button>
                            <button class="followers mdui-btn mdui-ripple mdui-text-color-theme-secondary">9 人关注</button>
                        </div>
                    </div>
                </div>
                <div class="mc-topic-item item-inner">
                    <div class="item mdui-card" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/topic-cover/45/c4/80b4161f3ebf584c842d70f793c7822d.png?x-oss-process=image/resize,m_fill,w_360,h_202,limit_0/format,webp);">
                        <a class="mdui-ripple info" href="/topics/9">
                            <div class="name mdui-text-color-theme-text">使用教程</div>
                        </a>
                        <div class="actions">
                            <button class="mc-icon-button mdui-btn mdui-btn-icon mdui-btn-outlined mc-follow">
                                <i class="mdui-icon material-icons mdui-text-color-theme-icon">star_border</i>
                            </button>
                            <button class="followers mdui-btn mdui-ripple mdui-text-color-theme-secondary">8 人关注</button>
                        </div>
                    </div>
                </div>
                <div class="mc-topic-item item-inner">
                    <div class="item mdui-card" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/topic-cover/a8/7f/a3d6d2dd65aa435ab97d3aee1a8b3e03.jpg?x-oss-process=image/resize,m_fill,w_360,h_202,limit_0/format,webp);">
                        <a class="mdui-ripple info" href="/topics/4">
                            <div class="name mdui-text-color-theme-text">技术分享</div>
                        </a>
                        <div class="actions">
                            <button class="mc-icon-button mdui-btn mdui-btn-icon mdui-btn-outlined mc-follow">
                                <i class="mdui-icon material-icons mdui-text-color-theme-icon">star_border</i>
                            </button>
                            <button class="followers mdui-btn mdui-ripple mdui-text-color-theme-secondary">6 人关注</button>
                        </div>
                    </div>
                </div>
                <div class="mc-topic-item item-inner">
                    <div class="item mdui-card" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/topic-cover/e4/da/bb72a2c8dc444f6381296a4b29d10fa3.jpg?x-oss-process=image/resize,m_fill,w_360,h_202,limit_0/format,webp);">
                        <a class="mdui-ripple info" href="/topics/5">
                            <div class="name mdui-text-color-theme-text">公告</div>
                        </a>
                        <div class="actions">
                            <button class="mc-icon-button mdui-btn mdui-btn-icon mdui-btn-outlined mc-follow">
                                <i class="mdui-icon material-icons mdui-text-color-theme-icon">star_border</i>
                            </button>
                            <button class="followers mdui-btn mdui-ripple mdui-text-color-theme-secondary">5 人关注</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="items-wrapper">
            <div class="items-container">
                <div class="items mdui-card">
                    <a class="header mdui-ripple" href="/questions">
                        <div class="mdui-text-color-theme-secondary">最近更新提问</div>
                        <i class="mdui-icon material-icons mdui-text-color-theme">arrow_forward</i>
                    </a>
                    <div class="content">
                        <a class="item" href="/questions/382">
                            <div class="mc-user-popover">
                                <div class="avatar user-popover-trigger" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/user-avatar/0c/3d/390ea0682483d8a9a97cb7820c08f852.png?x-oss-process=image/resize,m_fill,w_128,h_128,limit_0/format,webp);"></div>
                            </div>
                            <div class="title mdui-text-color-theme-text">有没有网站使用文档</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="items-container">
                <div class="items mdui-card">
                    <a class="header mdui-ripple" href="/questions#popular">
                        <div class="mdui-text-color-theme-secondary">最近热门提问</div>
                        <i class="mdui-icon material-icons mdui-text-color-theme">arrow_forward</i>
                    </a>
                    <div class="content">
                        <a class="item" href="/questions/382">
                            <div class="mc-user-popover">
                                <div class="avatar user-popover-trigger" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/user-avatar/0c/3d/390ea0682483d8a9a97cb7820c08f852.png?x-oss-process=image/resize,m_fill,w_128,h_128,limit_0/format,webp);"></div>
                            </div>
                            <div class="title mdui-text-color-theme-text">有没有网站使用文档</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="items-wrapper">
            <div class="items-container">
                <div class="items mdui-card">
                    <a class="header mdui-ripple" href="/articles">
                        <div class="mdui-text-color-theme-secondary">最新文章</div>
                        <i class="mdui-icon material-icons mdui-text-color-theme">arrow_forward</i>
                    </a>
                    <div class="content">
                        <a class="item" href="/articles/252">
                            <div class="mc-user-popover">
                                <div class="avatar user-popover-trigger" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/user-avatar/00/2c/d2896d21b2a446ffeb8c4115c1fa42b5.png?x-oss-process=image/resize,m_fill,w_128,h_128,limit_0/format,webp);"></div>
                            </div>
                            <div class="title mdui-text-color-theme-text">要怎么删除文章或评论</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="items-container">
                <div class="items mdui-card">
                    <a class="header mdui-ripple" href="/articles#popular">
                        <div class="mdui-text-color-theme-secondary">最近热门文章</div>
                        <i class="mdui-icon material-icons mdui-text-color-theme">arrow_forward</i>
                    </a>
                    <div class="content">
                        <a class="item" href="/articles/5">
                            <div class="mc-user-popover">
                                <div class="avatar user-popover-trigger" style="background-image: url(https://cdn.w3cbus.com/community.mdclub.org/upload/user-avatar/08/d5/61ef9ba17a8ccff499e9918890eb2f7b.png?x-oss-process=image/resize,m_fill,w_128,h_128,limit_0/format,webp);"></div>
                            </div>
                            <div class="title mdui-text-color-theme-text">希望加入markdown编辑器</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.w3cbus.com/community.mdclub.org/static/theme/material/index.33adc672.js"></script>
</div>
</body>

</html> -->